name: Docker CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Build Docker Image
      run: docker build -t kostya05a/aga232 .

    - name: Authenticate to GitHub Package Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push Docker Image to GitHub Package Registry
      run: docker tag kostya05a/aga232 ghcr.io/kostya05a/aga232/python-app:latest
          && docker push ghcr.io/kostya05a/aga232/python-app:latest

  deploy:
    runs-on: ubuntu-latest

    needs: build

    steps:
    - name: Authenticate to GitHub Package Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Pull Docker Image from GitHub Package Registry
      run: docker pull ghcr.io/kostya05a/aga232:latest

    - name: Run Docker Container
      run: docker run -d -p 8080:80 ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest
